@font-face {
    font-family: GothamBold;
    src: url(assets/fonts/gotham/GothamBold.ttf);
}
@font-face {
    font-family: GothamBook;
    src: url(assets/fonts/gotham/GothamBook.ttf);
}
@font-face {
    font-family: GothamLight;
    src: url(assets/fonts/gotham/GothamLight.ttf);
}
@font-face {
    font-family: Gotham-Thin;
    src: url(assets/fonts/gotham/Gotham-Thin.otf);
}

* {box-sizing: border-box}
body {background-color: #fff; font-family: gotham, sans-serif; margin:0; overflow-x: hidden;}
.flex-count {flex: 1;}
.relative {position: relative;}
.height5 {height:5px;}
.height10 {height:10px;}
.height20 {height:20px;}
.height30 {height:30px;}
.height40 {height:40px; clear: both;}
.height200 {height:200px;}
.padd-no {padding: 0px!important;}
.mrgn-no {margin: 0px;}
.txt-blue {color:#389fda;}
#owl-demo .item img, .owl-carousel {display: block; width: 100%; height: auto;}
.item {cursor: all-scroll;}
.width-full {width: 100%}
.color-blue {color: #389fda!important;}
.color-whit {color: #fff!important;}
.txt-undrline {text-decoration: underline;}
ul li {list-style: none;}
.mrg-btm-10 {margin-bottom: 10px;}
.padd-0 {padding: 0px;}
.clear {clear:both;}

.home {width: 20px; height: 10px; display: inline-block; margin-right: 5px;}
.footer-lang a:focus {text-decoration: none;}
/* style css - start */
.inner-slides {display: none; height:100%; min-height: 325px;}
.inner-slides .img {width:100%;}
.banner-bullets {position: absolute; top: 35%; z-index: 9999; right: 10px; width: 90px; background: transparent; color: #fff;}
.banner-bullets a {display: block; text-align: right; padding: 5px; color: #fff;}
.hve-projct-form {position: fixed; height: 100%; overflow: auto; top: 0px; left: 0px; background: #f4f4f4; right: 0px; z-index: 10000; display: none;}
.banner-bullets a:hover {text-decoration: none; color: #ccc;}
.banner-scroll-arrow {position: absolute; left: 50%; z-index: 9999; color: #fff; font-size: 60px; animation: banner-scroll-arrow 1s infinite;}
.banner-scroll-arrow img {width:40px; height:auto;}
.banner-scroll-arrow:hover, .banner-scroll-arrow:active, .banner-scroll-arrow:focus {color: #fff;}
@keyframes banner-scroll-arrow {
    0% {bottom: 5px;}
    50% {bottom: 20px;}
    100% {bottom: 5px;}
}
.blue-top-section .navigation-menu .nav-btn, .blue-top-section .hve-project .blue-btn {background: #007cab;}

.navigation {padding: 20px 0px; position: absolute; top: 0px; left: 0; right: 0; z-index: 999; color: #fff;}
.navigation .navigation-brand img {width: 173px;}
.navigation-brand, .navigation-menu {display: inline-block;}
.navigation-icon a {color: #fff; margin-right: 20px;}
.navigation-icon a:hover {text-decoration: none; color: #fff;}
.navigation-icon .nav-social-ico {background: #389fda; border-radius: 25px; padding: 13px; border:2px solid #fff; font-size: 22px; margin-right: 10px;
                                  width: 50px; height:50px;}
.navigation-icon .nav-social-ico .nav-social-txt {font-size: 18px;}
.navigation-icon .nav-social-txt {font-size: 18px;}
.top-nav-footer {position: fixed; top: 0px; left: 0px; right: 0px; z-index: 9999; height: 100%; overflow: auto;}
.top-nav-footer::-webkit-scrollbar, .hve-projct-form::-webkit-scrollbar {display: none;}
.clienttab {width:100%;}
.footer-close-btn .blue-btn {padding: 15px 20px; font-size: 20px;}
.footer-close-btn {position: absolute; top:0px; right: 0px; cursor: pointer;}
.footer-close-btn .fa-close {display: none;}
.view-all-btn {width: 100%; border-radius: 0px; background-color: #389fda;}

.blue-btn, .nav-btn {background: #389fda; padding: 12.5px; border: 0px; font-size: 20px; cursor: pointer;}
.nav-btn.fa-bars {font-size: 25px;}
.blue-btn {padding: 13px 30px; font-size: 14px; font-weight: bold; color: #fff; display: inline-block; border: 1px solid #389fda;position: relative;}
/*.blue-btn:hover {background: #fff; color: #fff; text-decoration: none;}*/
.blue-btn:hover {color: #fff; text-decoration: none; opacity: 0.9;}
.whit-back .blue-btn:hover {background: transparent; color: #389fda!important; text-decoration: none; border: 1px solid #389fda; cursor: pointer;}
.white-btn {background: transparent; padding: 10px 20px; border: 2px solid #fff; color: #fff;}
.white-btn:hover {background: #fff; color: #333; text-decoration: none;}
.client-tab-btn {max-width: 768px; margin: 0 auto;}
.client-tab-btn .clienttab {cursor: pointer;}
.client-tab-btn .clienttab:hover {border:3px solid #389fda; border-radius: 80px;}
.steps-section .back-img {background-repeat: no-repeat; padding-top:150px;}
.steps-upload {position: relative; overflow: hidden;}
.steps-upload-wrap {position: absolute; top:60px; padding: 15px;}
.tab-btn {margin: 0px!important; width: 25%; float: left;}
.client-tab-btn .active.tab-btn a{background: #389fda!important;}
.client-slider {background: #fbfbfb; padding: 15px; border: 1px solid #389fda;}
.client-img {width:50%!important; margin: 0 auto;}
.blog-data a {color: #333; padding-right: 15px;}
.blog-data a:last-child {padding-right: 0px;}
.blog-data a:hover {text-decoration: none}
.blog-data i {padding-right: 5px;}

/* conntact form section - start */
.contact-form input, .contact-form textarea, .contact-form select {width: 100%; padding: 10px 15px; border: 1px solid #eee;}
.contact-form label {padding-left: 5px;}
/* conntact form section - end */

/* section - start */
.back-grey {background: #f3f3f3;}
.silver-bckg {background: #fbfbfb;}

.whit-bckg , .user-review, .case-study, .silver-bckg, .steps-section, .testimonials {padding:50px 0px 80px 0px;}
.srvices-inr-box {margin: 0 auto;}
.srvices-inr-box img {width: 100%;}

.ul-bottom-padd .section-inr-txt {padding-bottom: 10px;}
.srvices-inr-box .tsting-wrap {padding: 0px;}
.srvices-inr-box .tsting-wrap .section-inr-txt {padding-bottom: 10px; width: 50%; float: left;}


/*.srvices-inr-contant {text-align: left;}*/

.ket-benefits .x-deve-facility {padding: 0px 15px 40px 15px;}
.height-fx .x-deve-facility .section-inr-txt, .height-fx .clint-inner-box .section-inr-txt {overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3;
                                                                                            -webkit-box-orient: vertical;}
.height-fx .x-deve-facility, .height-fx .clint-inner-box {max-height: 250px;}
.height-fx .x-deve-facility .facility-inr-hding, .height-fx .clint-inner-box .facility-inr-hding {white-space: nowrap; overflow: hidden;
                                                                                                  text-overflow: ellipsis; color: #00aeef;}

/*x-deve-facility - start */

.x-deve-faq, .silver-bckg .x-deve-faq {background: #fbfbfb; padding: 40px 15px; border: 1px solid #eee; padding-top: 0px;}
.silver-bckg .x-deve-faq {background: #fff;}
.x-deve-facility, .silver-bckg .x-deve-facility {background: #fbfbfb; padding: 40px 15px; border: 1px solid #eee;}
.silver-bckg .x-deve-facility {background: #fff; min-height:250px;}

.hosting-plan-box .social-ico a {border:1px solid #00aee0; color: #00aee0; width: 25px; height: 25px; font-size: 13px; padding: 3px; border-radius: 15px; display: inline-block;}
.hosting-plan-box .social-ico a:hover {border:1px solid #fff; color: #fff; background: #00aee0;}
.facility-inr-hding a {font-size: 18px; color: #00aeef; margin-top: 0px; text-decoration: none; line-height: 25px;}

/*x-deve-facility - end */

/* testimonials - start */
.tstimnls-boxs {padding: 15px; background: #fff; margin: 15px; border: 1px solid #eee; display: inline-block;}
.tstimnls-boxs .tstimnls-items {width: 60%; display: flex; align-items: center;}
.tstimnls-boxs .tstimnls-items .tstimnls-name {width: 70%;}
.tstimnls-boxs .tstimnls-items .tstimnls-img {width: 30%;}
.tstimnls-boxs .tstimnls-items .tstimnls-img img {width: 50px; height:50px; display: inline-block}
/* testimonials - end */


.testimonials {background: #fbfbfb;}
.user-review {background: #fff;}
.user-review .user-review-img {width: auto!important; height: 250px; margin: 0 auto;}

.hosting-plan-box {padding-top: 10px; background: #fff; border: 1px solid #eee; display: inline-block; width: 100%; border-right: 0px}
.hosting-plan-box .hosting-cntnt {padding: 10px 15px; border-bottom: 1px solid #eee; margin: 0px;}
.hosting-plan-box .hosting-cntnt:first-child {border-top: 1px solid #eee;}
.hosting-plan-box .hosting-cntnt:nth-child(odd) {background: #fbfbfb;}

.whit-bckg .clint-inner-box {background: #fbfbfb;}
.clint-inner-box {padding: 10px 15px; background: #fff; border: 1px solid #eee; display: inline-block; width: 100%;}
.clint-inner-box .price, .hosting-plan-box .price {font-size: 22px; color: #389fda;}

.section-hding {color: #389fda; font-size: 55px; font-weight: 700;}
section .section-sub-hding {font-size: 36px;}
section .section-sb-hding {color: #666; font-size: 24px; font-weight: normal; line-height: 35px;}
section .section-inr-hding a{font-size: 24px; color: #333; margin-top: 0px; text-decoration: none;}
section .section-inr-txt {font-size: 14px; color: #666; max-width: 600px; margin: 0 auto; font-weight: 400; line-height: 20px;}
.back-grey .section-inr-hding {color: #389fda;}
.contct-form {padding: 0px; list-style: none;}
.contct-form .contct-form-txt {padding-top: 10px; color: #ccc;}
.contct-form .contct-form-txt a {color: #333;}
.contct-form .contct-form-txt a:hover {text-decoration: none;}
.contct-form .contct-form-txt a i {padding-right: 5px; color: #333;}

.case-study {background: #f9f9f9;}
.case-study .case-study-box {background: #fff; border: 1px solid #ccc;}
.case-study a:hover {text-decoration: none;}
.case-study .case-study-tchno {background: #d8e4ef; padding: 7px;}
.case-study .case-study-img {background: #e4edf4; padding: 40px 20px;}
.case-study .case-study-tchno .section-inr-txt {padding: 0px;}
.case-study .case-study-box .section-inr-txt {padding: 30px 15px;}

/* footer - start */
.x-deve-facility img, .clint-inner-box img, .hosting-plan-box img {transition: transform 0.7s;margin-top: -90px; background: #fff; padding: 10px; border: 1px solid #eee;}
.footer-section {background: #343434; color: #fff;}
.footer-section .footer-hding {color: #fff; border-bottom: 1px solid white; display: inline-block; padding: 5px 0px;}
.footer-section ul {list-style: none; padding: 0px;}
.footer-section ul a {color: #fff;}
.footer-section ul li {margin-bottom: 10px;}
.footer-section ul a:hover {text-decoration: none; color: #ccc;}
.footer-lang {border-top: 1px solid gray; padding-top: 10px; color: #c7c7c7;}
.footer-lang ul a {display: inline-block; padding: 5px 0px; padding-left: 45px;}
.footer-lang ul a:first-child {padding-left: 0px;}
.copyright, .top-footer{background: #545454; padding: 10px 0px; color: #c7c7c7;}

/* section - end */

/* Slideshow container - start */

.banner-para {font-size: 16px; color: #fff; line-height: 30px;}
.slide-wraper {position: absolute; left: 90px; top: 25%; width: 800px;}
.slide-wraper .slide-heading {font-size: 55px; color: #fff; font-weight: bold; line-height: 65px;}
.prev, .next {cursor: pointer; position: absolute; top: 50%; width: auto; padding: 16px; margin-top: -60px; color: white; font-weight: bold; font-size: 40px;
              transition: 0.6s ease; border-radius: 0 3px 3px 0;}
.next {right: 0; border-radius: 3px 0 0 3px;}
.prev:hover, .next:hover {background-color: rgba(0,0,0,0.8); color:#fff; text-decoration: none;}
.text {color: #f2f2f2; font-size: 15px; padding: 8px 12px; position: absolute; bottom: 35px; width: 100%; text-align: center;}
.fade {animation-name: fade; animation-duration: 1.5s; opacity: 1!important;}
@-webkit-keyframes fade {from {opacity: .4} to {opacity: 1}}
@keyframes fade {from {opacity: .4} to {opacity: 1}}
/* Slideshow container - end */

/* On smaller screens, decrease text size */

@media only screen and (min-width: 1200px) {

}

@media only screen and (max-width: 1200px) {
    .slide-wraper {top: 15%; left: 0; width: 100%; text-align: center; padding: 10px 70px;}
    .steps-section .srvices-inr-box {height: auto;}
    .steps-section .back-img {background-image:none!important; padding-top:30px;}
    .banner-scroll-arrow {display:none;}
}

@media only screen and (max-width: 992px) {
    .tstimnls-boxs .tstimnls-items {width: 70%;}
    .footer-contact-btn {padding-top: 25%;}
    .blue-btn {padding: 15px 14px;}
    .navigation-icon a {margin-right: 10px;}
    .navigation-icon .nav-social-ico {margin-right: 2px; padding: 10px; width: 40px; height: 40px;}
    .srvices-inr-box > div {text-align: center;}
    .work-process .user-review {width: 20%;}
    .srvices-inr-box {display: table; height: 163px;}
    .slide-wraper .slide-heading {font-size: 45px; line-height: 50px;}
    section .section-hding {font-size: 35px;}
    section .section-sub-hding {font-size: 24px;}
    section .section-sb-hding {font-size: 16px;}
    section .section-inr-hding {font-size: 18px;}
    .banner-para {font-size: 14px; color: #fff; line-height: 20px;}
}

@media only screen and (min-width: 768px) {
    .d-flx, .srvices-box {display:flex; align-items: center;}
    .d-flex {display:flex;}
}

@media only screen and (max-width: 767px) {
    .bussiness-incri{background-repeat:repeat-y!important;}
    .tstimnls-boxs .tstimnls-items {width: 100%;}
    .client-tab {width:80%;}
    .footer-lang ul a {padding-left: 10px;}
    .navigation-brand, .navigation-menu, .srvices-inr-box {text-align: center;}
    .slide-wraper {top: 30%;}
    .slide-wraper .slide-heading {font-size: 30px; line-height: 40px;}
    .footer-lang ul li {padding-left: 15px;}
    .srvices .srvices-inr-contant, .footer-section .top-footer, .footer-section {text-align: center;}
    .banner-bullets a {padding: 0px;}
    .srvices , .user-review, .case-study, .our-client, .steps-section {padding:50px 0px 50px 0px;}
    .white-btn {padding: 8px;}
    .srvices-inr-box .tsting-wrap .section-inr-txt {width: 100%;}
}
@media only screen and (max-width: 600px) {
    .nav-btn.fa-bars {font-size: 15px;}
    .footer-contact-btn {padding-top: 45%;}
    .slide-wraper {top: 25%;}
    .banner-bullets a {font-size: 10px;}
    .slide-wraper .slide-heading {font-size: 20px; line-height: 25px;}
    .nav-btn {padding: 7px; font-size: 19px;}
    .navigation .navigation-brand img {width: 100px; float: left; margin-bottom: -10px;}
    .navigation-icon a {margin-right: 0px;}
    .blue-btn {padding: 8px 10px; font-size: 12px; font-weight: normal;}
    .navigation-icon .nav-social-ico {padding: 9px; width: 34px; height: 34px; font-size: 15px;}
    .footer-section ul a li {padding-left: 0px; display: inline-block;}
}

@media only screen and (max-width: 420px) {
    .footer-contact-btn {padding-top: 55%;}
    .slide-wraper .slide-heading {font-size: 14px; line-height: 20px;}
    .slide-wraper {top: 20%;}
    .prev, .next {top: 63%;}
    .slider {height: 360px; overflow: hidden;}
    .work-process .user-review {width: 30%;}
    .navigation {padding: 10px 0px;}
    .white-btn {padding: 5px 8px;}
}

@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}